@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form method="POST">
    <div>
        Select The Unit:
        <select asp-for="UnitId" asp-items="@Model.UnitNames"></select>
        <button type="submit">
            Get Units
        </button>
    </div>
    @if (Model.UnitOne != null && Model.UnitTwo != null)
    {


        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>@Model.Players[0].Name</th>
                        <th>@Model.Players[1].Name</th>
                        <th>Differences</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div>@Model.UnitOne.NameKey</div>
                            <div>Gear: @Model.UnitOne.Gear</div>
                            <div>Star: @Model.UnitOne.Rarity</div>
                            <div>
                                Skills:
                                @foreach (var skill in Model.UnitOne.Skills)
                                {
                                    <div>---------------------</div>
                                    <div>Ability Name: @skill.NameKey</div>
                                    <div>Ability Level: @skill.Tier</div>
                                    <div>Ability Zeta: @skill.IsZeta</div>
                                }
                            </div>

                        </td>
                        <td>
                            <div>@Model.UnitTwo.NameKey</div>
                            <div>Gear: @Model.UnitTwo.Gear</div>
                            <div>Star: @Model.UnitTwo.Rarity</div>
                            <div>
                                Skills:
                                @foreach (var skill in Model.UnitOne.Skills)
                                {
                                    <div>---------------------</div>
                                    <div>Ability Name: @skill.NameKey</div>
                                    <div>Ability Level: @skill.Tier</div>
                                    <div>Ability Zeta: @skill.IsZeta</div>
                                }
                            </div>
                        </td>
                        <td></td>
                    </tr>

                </tbody>
            </table>
        </div>
    }
</form>